<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/Agro.css')}}">
    <title> {%block title%}{% endblock %}</title>
</head>
<body><header>
    <img src="{{url_for('static', filename='images/logo2.png')}}" alt="logo">
    <input type="text" placeholder="search.." name="search">
    <button type="submit" name="submit">Submit</button>
    <nav>
        <ul>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('about')}}">About Us</a></li>
            <li><a href="{{url_for('services')}}">Service</a></li>
            <li><a href="{{url_for('contact')}}">Contact Us</a></li>
            <li><a href="#blog" style="padding-right: 20px;">Blog</a></li>
        </ul>
    </nav>
</header>
{% block content %}{% endblock %}
</body>
</html>