<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends "base.html"%}
    {% block title %}{% endblock %}
    <title>Contact</title>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/Agro.css')}}">
</head>
<body>
    {% block content %}
    <div id="Contact-us">
        <h1>CONTACT US</h1>
        <h3 class="small" style="text-align: center;">LEAVE A MESSAGE</h3>
        <form action="#" method="post" class="contact">
            <input type="text" name="name" class="input" placeholder="Enter your name"><br>
            <input type="email" name="email" class="input" placeholder="Enter your email"><br>
            <textarea name="massage" id="massage" cols="30" rows="15" placeholder="Enter your massage"></textarea><br>
            <input type="submit" id="submit" value="submit" class="submit" name="submit"><br>
        </form>
        <footer id="blog">
            <img src="{{url_for('static', filename='images/facebook.png')}}" alt="">
            <img src="{{url_for('static', filename='images/instagram.png')}}" alt="">
            <img src="{{url_for('static', filename='images/linkin.png')}}" alt="">
            <img src="{{url_for('static', filename='images/twitter.png')}}" alt="">
            <img src="{{url_for('static', filename='images/whatsapp.png')}}" alt="">
            <img src="{{url_for('static', filename='images/youtube.png')}}" alt="">
        </footer>
    </div>
    {% endblock %}
</body>
</html>